/********* DASHBOARD STYLES ********/

.hero-img.hero-img {
    height: 200px;
    background:linear-gradient(0deg,rgba(41, 39, 41, 0.322),rgba(0, 0, 0, 0.466)), url('https://res.cloudinary.com/asheu321/image/upload/f_auto/bg-hero.jpg');

}

.ui.statistic>.value, .ui.statistics .statistic>.value {
    color: #fff;
}
.ui.statistic>.label, .ui.statistics .statistic>.label {
    color: gray;
}

.hero-img.hero-img h1,h3 {
    color: rgba(255, 255, 255, 0.877);
    padding: 1vh 0 0 1vh
}

.hero-img.hero-img h3 {
    text-align: center;
}

.hero-img-car-data.hero-img-car-data  {
    float: right;
    margin-right: 4%;
}
.data-content h3 {
    margin: 0 auto;
}
h2 {
    font-weight: 100;
}
.data-content h2 {
    margin: 0 auto;
    
}

.data-content {
    display: inline-block;
    float: right;
}

.data-content p {
    color: gray;
    float: right;   
}

body {
    background-color: #e1e4e8;
}

.ui.cards {
    justify-content: center;
}

.ui.segment {
    margin: 0 auto;
    border-radius: 0;
    border: none;
}

.ui.container {
    margin: 0 auto !important;
    width: 100%;
    margin-top: 2vh !important; 
    
}

.ui.cards>.card {
    margin: 0.5em 1em;
}

.ui.card, .ui.cards>.card {
    width: 20%;
}

.ui.placeholder.segment {
    flex-direction: inherit;
    justify-content: normal;
    min-height: 22rem;
    margin: 4vh 5.5vw 4vh 5.5vw;
}

 .three-cards {
    width: 30vw;
}

.three-cards-container {
    display: flex;
    justify-content: space-evenly;
}

.container-bg {
    background-color: white;
    margin: 0 auto;
    width: 90%;
    margin-top: 2vh;
}

.card-data-text {
    font-size: 2rem;
    text-align: right;
}

/******** LOGINPAGE STYLES *********/


.test {
    width: 100%;
    height: 40vh;
    background-size: auto;
}

/******* SIDEBAR STYLES *******/
.pushable>.pusher {
    background-color: #e1e4e8;
}

.ui.thin.left.sidebar {
    width: 300px;
}

.ui.fluid.dropdown {
    margin-bottom: 1vh;
}

/********* NAVBAR STYLES *********/

.navbar-bg {
    background-color: #0c1014;
}

.navbar-button {
    background: #0c1014 !important;
}

/********* FOOTER *********/
.footer-content {
    margin-top: 1vh;
    height: 250px;
    background-color: #0c1014 
}


.media-content {
    display: flex;
    position: relative; 
    justify-content: center;
    padding-top: 2%;
    margin-bottom: 2vh;
}
.icon-color  {
    color: rgba(255, 255, 255, 0.794) !important;
    transition: all .2s ease-in-out;
}



.resources-content {
    position: relative;
    display: flex;
   justify-content: space-evenly;
}



 .ui.list {
    margin: 0;
}

/******* MEDIA BREAKPOINTS ******/

@media only screen and (max-width: 1250px) {
    .ui.card, .ui.cards>.card {
        width: 30%;
    }   
}

@media only screen and (max-width: 768px) {
    .ui.card, .ui.cards>.card {
        width: 50%;
    }  
}
