.data-content h3 {
    margin: 0 auto;
}
h2 {
    font-weight: 100;
}
.data-content h2 {
    margin: 0 auto;
    
}

.data-content {
    display: inline-block;
    float: right;
}

.data-content p {
    color: gray;
    float: right;   
}

body {
    background-color: #e1e4e8;
}

.ui.cards {
    justify-content: center;
}

.ui.segment {
    margin: 0 auto;
}

.ui.container {
    margin: 0 auto !important;
    width: 100%;
    margin-top: 2vh !important; 
    
}

.ui.cards>.card {
    margin: 0.5em 1em;
}

.ui.card, .ui.cards>.card {
    width: 20%;
}

.ui.placeholder.segment {
    flex-direction: inherit;
    justify-content: normal;
    min-height: 22rem;
    margin: 4vh 5.5vw 4vh 5.5vw;
}

 .three-cards {
    width: 30vw;
}

.three-cards-container {
    display: flex;
    justify-content: space-evenly;
}

.container-bg {
    background-color: white;
    margin: 0 auto;
    width: 90%;
    margin-top: 2vh;
}

.card-data-text {
    font-size: 2rem;
    text-align: right;
}

/******** LOGINPAGE STYLES *********/


.test {
    width: 100%;
    height: 40vh;
    background-size: auto;
}

/******* SIDEBAR STYLES *******/
.pushable>.pusher {
    background-color: #e1e4e8;
}

.ui.thin.left.sidebar {
    width: 300px;
}

.ui.fluid.dropdown {
    margin-bottom: 1vh;
}

/********* NAVBAR STYLES *********/

.navbar-bg {
    background-color: #223344;
}

.navbar-button {
    background: #223344 !important;
}

/******* MEDIA BREAKPOINTS ******/

@media only screen and (max-width: 1250px) {
    .ui.card, .ui.cards>.card {
        width: 30%;
    }   
}

@media only screen and (max-width: 768px) {
    .ui.card, .ui.cards>.card {
        width: 50%;
    }  
}
